.button
{
   	-fx-text-fill:  #000000;
    -fx-font: 16px Alcubierre;
    -fx-background-radius: 10px;
	-fx-background-color: linear-gradient(#A09C8C, #FFFFFF , #A09C8C);
	-fx-effect: dropshadow(three-pass-box, #403C3C, 5, 0.5, -1, 1);
}

.button:hover
{
	-fx-text-fill:  #000000;
   	-fx-background-color: linear-gradient(#FFFFFF, #A09C8C , #FFFFFF);
	-fx-effect: dropshadow(three-pass-box, #403C3C, 2, 0.5, -1, 1);
}

.menu-bar
{
   	-fx-background-color: #FFFFFF;
	-fx-border-color:  #000000;
	-fx-border-width: 2px;
	-fx-border-radius: 10px;
}

.menu-bar .label
{
	-fx-text-fill:  #000000;
   	-fx-font: 18px Alcubierre;
	-fx-alignment: center;
}

.context-menu
{
	-fx-text-fill:  #000000;
    -fx-font-family: Alcubierre;
   	-fx-background-color: #FFFFFF;
    -fx-background-radius: 10px;
	-fx-border-color:  #000000;
	-fx-border-width: 2px;
	-fx-border-radius: 10px;
}

.tool-bar
{
	-fx-background-color: #FFFFFF;
	-fx-border-color:  #000000;
	-fx-border-width: 2px;
	-fx-border-radius: 10px;
}

.list-view
{
	-fx-border-color:  #000000;
	-fx-border-width: 2px;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
 	-fx-focus-color: transparent;
	-fx-padding: 5px;
}

.label
{
	-fx-text-fill:  #000000;
    -fx-font: 18px Alcubierre;
}

.dialog-pane
{
  -fx-background-color: #FFFFFF;
}

.dialog-pane:header .header-panel
{
  -fx-background-color: #FFFFFF;
}
