#pane
{
	-fx-background-color: #403C3C;
	-fx-background-radius: 10px;
	-fx-border-color:  #EFEEE6;
	-fx-border-width: 2px;
	-fx-border-radius: 10px;
}

.menu-bar
{
   	-fx-background-color: #403C3C;
	-fx-border-color:  #EFEEE6;
	-fx-border-width: 2px;
	-fx-border-radius: 10px;
}

.menu-bar .label
{
	-fx-text-fill:  #EFEEE6;
   	-fx-font: 18px Alcubierre;
	-fx-alignment: center;
}

.context-menu
{
	-fx-text-fill:  #EFEEE6;
    -fx-font-family: Alcubierre;
   	-fx-background-color: #403C3C;
    -fx-background-radius: 10px;
	-fx-border-color:  #EFEEE6;
	-fx-border-width: 2px;
	-fx-border-radius: 10px;
}

.tool-bar
{
	-fx-background-color: #403C3C;
	-fx-border-color:  #EFEEE6;
	-fx-border-width: 2px;
	-fx-border-radius: 10px;
}

.list-view
{
	-fx-border-color:  #EFEEE6;
	-fx-border-width: 2px;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
 	-fx-focus-color: transparent;
	-fx-padding: 5px;
}

.label
{
	-fx-text-fill:  #EFEEE6;
	-fx-font: 16px Alcubierre;
}

.dialog-pane
{
  -fx-background-color: #403C3C;
}

.dialog-pane:header .header-panel
{
  -fx-background-color: #403C3C;
}
